PORT=3000
NODE_ENV=local # development | production
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres
DB_PASSWORD=rootpassword
DB_NAME=cs3_store_db
JWT_SECRET=CHANGE_THIS_SECRET
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=CHANGE_THIS_REFRESH_SECRET
JWT_REFRESH_EXPIRES_IN=7d
SECURITY_PEPPER=CHANGE_THIS_PEPPER
